#arena {
    background-image: url("arena.jpg");
    width: 863px;
    height: 600px;
}
#goku {
    position: absolute;
    background-image: url("goku.png");
    width: 45px;
    height: 60px;
}
#gokuright {
    position: absolute;
    background-image: url("gokuright.png");
    width: 45px;
    height: 60px;
}
#freezer {
    position: absolute;
    background-image: url("freezer.png");
    width: 50px;
    height: 50px;
}
#cuadrovidafreezer {
    position: absolute;
    background-image: url("cuadrovidafreezer.png");
    width: 190px;
    height: 30px;
}
#cuadrovidagoku {
    position: absolute;
    background-image: url("cuadrovidagoku.png");
    width: 190px;
    height: 30px;
}
#barravidafreezer {
    position: absolute;
    background-image: url("barravidafreezer.png");
    width: 190px;
    height: 30px;
}
#kamehame {
    position: absolute;
    background-image: url("kamehameha.gif");
    width: 190px;
    height: 30px;
}
#kamehafre {
    position: absolute;
    background-image: url("ataque\ freezer.png");
    width: 190px;
    height: 30px;
}
#barravidagoku {
    position: absolute;
    background-image: url("barravidagoku.png");
    width: 190px;
    height: 30px;
}
#gokuleft {
    position: absolute;
    background-image: url("gokuleft.png");
    width: 45px;
    height: 60px;
}
.kamehameha {
    position: absolute;
    background-image: url("kamehameha.gif");
    width: 5px;
    height: 10px;
    padding: 3px;
}